* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Proxima Nova;
}

.row-2 {
    display: flex;
    flex-wrap: wrap;
}

/*------------------------------*/
/*----------Header Top----------*/
/*------------------------------*/

.header-top {
    padding: 2rem 0;
}

.header-top h4 {
    font-size: 1.3rem;
    font-weight: bold;
    display: inline;
}

.header-top i {
    padding-right: .5rem;
    font-size: 1.2rem;
}

.box-menu {
    color: #615b9b;
    text-align: center;
    border: .16rem solid #615b9b;
    border-radius: .5rem;
    padding: .75rem 1rem;
    margin-top: .9rem;
    margin-left: .75rem;
}

.job {
    margin-right: 1.5rem;
}

.box-menu:hover {
    cursor: pointer;
    color: white;
    background: #615b9b;
}

.quick-box {
    display: none;
    position: absolute;
    top: 115%;
    right: -2%;
    z-index: 1;
    background: #615b9b;
    padding: 3rem 2rem;
    border-radius: .5rem;
}

.quick-search {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.quick-search input {
    width: 16rem;
    outline: none;
    background: transparent;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: #1b1740;
}

.quick-search input::placeholder {
    font-size: 1.2rem;
    font-weight: bold;
    color: #1b1740;
}

.quick-search {
    background: white;
    padding: .8rem 1.2rem;
}

.quick-job input {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    border: .1rem solid white;
    padding: .75rem 1.5rem;
    border-radius: .3rem;
    margin-top: .75rem;
    background: transparent;
}

.quick-job input:hover {
    color: #615b9b;
    background: white;
}

.job:hover .quick-box {
    display: block;
}

/*---------------------------------*/
/*----------Header Middle----------*/
/*---------------------------------*/

.header-middle {
    background: #1b1740;
}

.header-middle .row {
    margin-left: 0;
    margin-right: 0;
}

.sector {
    text-align: center;
    padding: 2.2rem 0;
}

.sector h2 {
    margin-bottom: 0;
    font-size: 1.8rem;

    color: white;
}

.medical:hover {
    background: #73ba9d;
}

.engineering:hover {
    background: #6baac1;
}

.consulate:hover {
    background: #6b83c1;
}

/*---------------------------------*/
/*----------Header Bottom----------*/
/*---------------------------------*/

.header-bottom {
    background-image: url(../img/8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 7.5rem;
    padding-bottom: 10rem;
}

.header-bottom .row {
    margin-left: 0;
    margin-right: 0;
}

.text h1 {
    text-align: center;
    font-size: 5rem;
    font-weight: 300;
    color: white;
    margin-bottom: 7.5rem;
}

.search-boxes {
    flex-basis: 88%;
}

.col-3 {
    max-width: 100% !important;
    flex-basis: 32.75% !important;
}

.header-bottom input {
    outline: none;
    background: transparent;
    border: none;
    font-size: 1.4rem;
    font-weight: bold;
    color: #1b1740;
    padding-left: .4rem;
}

.header-bottom input::placeholder {
    font-size: 1.4rem;
    font-weight: bold;
    color: #1b1740;
}

.search-box img {
    cursor: pointer;
    margin-left: 27%;
}

.search-box {
    background: white;
    padding: 1.5rem 3rem;
}

.search-job {
    flex-basis: 12%;
}

.search-job input {
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    border: .1rem solid white;
    padding: 1.35rem 1.6rem;
    border-radius: .3rem;
    margin-left: 2rem;
}

.search-job input:hover {
    color: #1b1740;
    background: white;
}

/*-----------------------------*/
/*----------Card Area----------*/
/*-----------------------------*/

.card-box {
    flex-basis: 33.33%;
}

.card-text {
    color: white;
    padding: 5rem 3.5rem;
}

.card-text h2 {
    margin-top: 2.5rem;
    font-size: 2.5rem;
    font-weight: 700;
}

.card-text p {
    font-weight: 300;
    font-size: 2rem;
    width: 80%;
}

.card-1 p {
    margin-bottom: 12rem;
}

.card-2 p {
    margin-bottom: 9.1rem;
}

.card-3 p {
    margin-bottom: 12rem;
}


.card-text a{
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    border: .2rem solid white;
    border-radius: .5rem;
    padding: 1rem 2rem;
}

.card-text a:hover {
    text-decoration: none;
    color: #615b9b;
    background: white;
}

.card-1 {
    background-image: url(../img/14.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-2 {
    background-image: url(../img/9.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-3 {
    background-image:url(../img/12.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*---------------------------------*/
/*----------Carousel Area----------*/
/*---------------------------------*/

.carousel-area {
    background-image: url(../img/11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-area .row {
    margin-left: 0;
    margin-right: 0;
}

.latest h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #1b1740;
    padding: 5rem 0;
}

.col-3A {
    background: rgba(255, 255, 255);
    flex-basis: 32%;
    border-radius: 2rem;
}

.carousel-text {
    padding: 1.5rem 1.5rem 3rem 1.5rem;
}

.carousel-text span {
    color: #1b1740;
    font-weight: bold;
    font-size: 1.5rem;
}

.carousel-text h4 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #615b9b;
    margin: 1.6rem 0;
}

.carousel-text h6 {
    color: #4e5a60;
    font-weight: bold;
    font-size: 1.5rem;
}

.carousel-text p {
    font-size: 1.45rem;
    width: 80%;
    margin-top: 1.6rem;
    color: #4e5a60;
}

.carousel-1 p {
    margin-bottom: 3rem;
}

.carousel-2 p {
    margin-bottom: 3.84rem;
}

.carousel-text a {
    font-size: 1.35rem;
    text-decoration: underline;
    font-weight: bold;
    color: #615b9b;
}

.carousel-text a:hover {
    color: #766cdc;
}

.dots {
    text-align: center;
    padding: 4.5rem 0 5.5rem 0;
}

.dots span {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    border: .1rem solid #746fa7;
    margin: 1rem .4rem;
    border-radius: 50%;
    background: #f5f4fc;
}

.dots span:nth-child(1) {
    background: #746fa7;
}

.dots span:hover {
    background: #746fa7;
}

/*--------------------------------*/
/*----------Company Area----------*/
/*--------------------------------*/

.company-area {
    overflow: hidden;
    background-image: url(../img/16.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.company-text {
    position: relative;
    right: -27.5%;
    width: 45%;
    margin: 0 auto;
    color: white;
    background: #615b9b;
    padding: 6rem;
    margin-top: 12rem;
}

.company-text h2 {
    font-size: 5rem;
    font-weight: 300;
}

.company-text p {
    font-size: 1.8rem;
    font-weight: 300;
    margin: 3rem 0 9rem 0;
}

/*------------------------------*/
/*----------Refer Area----------*/
/*------------------------------*/

.refer-area {
    margin: 10rem 0 8rem 0;
}

.refer-area h2 {
    font-size: 4rem;
    font-weight: 400;
    color: #1b1740;
}

.refer-area p {
    width: 80%;
    font-size: 1.5rem;
    color: #4e5a60;
    font-weight: 500;
    margin: 2rem 0 6rem 0;
}

.refer-area a{
    font-size: 1.4rem;
    font-weight: 500;
    color: #5e5691;
    border: .1rem solid #5e5691;
    border-radius: .5rem;
    padding: .8rem 1.6rem;
}

.refer-area a:hover {
    text-decoration: none;
    background: #615b9b;
    color: white;
}

/*-------------------------------*/
/*----------Footer Area----------*/
/*-------------------------------*/

.footer-area {
    background: #100c29;
    color: white;
    padding-top: 5rem;
}

.copyright p {
    font-size: 1.2rem;
    margin: 5rem 0;
}

.footer-text {
    text-align: right;
}

.footer-text i, span {
    font-size: 1.2rem;
    font-weight: 600;
    color: #756fac;
}

.footer-text p {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 1rem 0 2rem 0;
}

.footer-text small {
    font-size: 1rem;
}

.footer-text img {
    padding-bottom: .75rem;
}

.footer-text .fab {
    color: white;
    height: 3rem;
    width: 3rem;
    padding: .75rem;
    text-align: center;
    border-radius: 50%;
    border: .1rem solid white;
    font-size: 1.2rem;
    font-weight: 300;
    display: inline-block;
    transition: .5s;
}

.footer-text .fab:hover {
    color: #100c29;
    background: white;
    transform: rotate(360deg);
}